.containerFiltro{
    border:1px solid #aaa;
    width: 150px;
    padding: 5px 10px;
    float: left;
    margin: 0 10px;
}
.containerFiltro input{
    width: 100%;
}
.containerLista ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.containerLista li{
    background: #eee;
    margin: 3px 0;
    padding: 3px 2px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .5s;
    cursor: pointer;
}
.containerLista li:hover{
    background: #bbb;
}
.hide{
    display: none;
}
