.task {
    background: #ddd;
    width: 200px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    font-family: 'arial';
}

.done {
    background: red;
}

.title {
    margin: 0;
}

.description {
    font-size: 10px;
}

.task a {
    position: absolute;
    right: 3px;
    top: 6px;
    text-decoration: none;
}

input {
    width: 206px;
    margin-bottom: 5px;
}
