<!doctype html>
<html ng-app="taskListApp">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>

    <div ng-controller="TodoListController">

      <input type="text" ng-model="query" placeholder="filtro">

      <div class="task" ng-repeat="task in tasks | filter:query" ng-class="{'done':task.isDone}" ng-click="markAsDone(task)">
        <p class="title">{{ task.title }}</p>
        <p class="description">{{ task.description }}</p>
        <a href="" ng-click="delete(task.id)" >X</a>
      </div>
    </div>

  </body>
</html>
