#score{
    height: 5px;
    margin-top: 5px;
    transition: all .5s ease-in;
}

#container{
    width: 173px;
}

.senhaFraca{
    width: 25%;
    background-color: red;    
}

.senhaModerada{
    width: 50%;
    background-color: yellow;
}

.senhaForte{
    width: 75%;
    background-color: orange;
}

.senhaMuitoForte{
    width: 100%;
    background-color: green;
}