#container {
    margin: 0 auto;
}
.taskList{
    background: #f44336;
    border: 1px solid #aaa;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 5px;
}

.taskList ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.taskList li:nth-child(odd){
    background: #D9D7D7;
}

.taskList li:nth-child(even){
    background: white;
}

.taskList li{
    padding: 10px 0;
    text-indent: 30px;
    transition: all 0.5s;
    position: relative;
}

.taskList h3{
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.taskList input{
    width: 258px;
    border: none;
    padding: 10px 5px;
    font-size: 15px;
    margin-left: 30px;
}

.taskList button{
    margin-right: 30px;
    background: #eee;
    color: #000;
    border: none;
    padding: 11px;
    top: -1px;
    position: relative;
    margin-bottom: 20px;
}

.taskList li:hover{
    background: #c7c7c7;
}

.taskList a{
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    padding: 10px;
    text-indent: 0;
    transition: all 0.5s;
    color: #000;
}
.taskList a:hover{
    background: #f44336;
    color: #fff;
}

.taskList .done{
    text-decoration: line-through;
    color: #aaa;
}


#componente2{
    background: #8ED760;
}
#componente3{
    background: #009D9F;
}
